@import '../styles.css';
.container {
    max-width: 100%;
}
img {
    max-width: 100%;
}
button {
    width: 100%;
}
#demo1, #demo2, #demo3, #demo4, #demo5 {
    padding-left: 3%;
    padding-right: 3%;
}